bootstrap/compiled.php
bootstrap/environment.php
/node_modules
/vendor
.env.*.php
.env.php
.env
*.swp
*.swo
.vagrant/*
.idea/*
.DS_Store
dist
app/config/local
cms.sublime-project
cms.sublime-workspace
*.map
config/local
atlassian-ide-plugin.xml
public/file-uploads
_ide_helper.php
public/front/images/cache
