<VirtualHost *:80>
	ServerAdmin you@example.com
	ServerName {{ website_fqdn }}
	DocumentRoot {{ apache.docroot }}/public

	 <Directory {{ apache.docroot }}/public>
		Options FollowSymLinks
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

	 <DirectoryMatch .*\.git/.*>
        Deny From All
      </DirectoryMatch>

	Alias /phpmyadmin /usr/share/phpmyadmin
	Alias /pma /usr/share/phpmyadmin

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/{{ website_fqdn }}-access.log combined
	ErrorLog /var/log/apache2/{{ website_fqdn }}-error.log
</VirtualHost>
